# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.user
*.cache

# IDE
.idea/
*.suo
*.userprefs
.vs/

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
*.sln.iml
